body {
  font: 11pt/1.4em "Times New Roman", Times, serif;
  padding: 50px 10px 0px ;
}

.starter-template {
  text-align: center;
}

.label {
  margin-left: 5px;
}

h2, h3, h4, h5, h6 {
  display: inline;
}

td {
  text-align: left !important;
}

a {
  text-decoration: none;
  color: red;
	}
