<h1>Load Run</h1>
<div class="form-group">
  <label for="inputlg">Scan Barcode</label>
  <input class="form-control input-lg" id="scan" type="text" ng-model="scan" focus-on="newItemAdded">
  <button type="button" class="btn btn-link" ng-click="submit()">Submit</button>
</div>
<div class="well">
   <h3>Scanned Bar Codes</h3>
   <ul class="list-group">
     <li class="list-group-item" ng-repeat="barcode in barCodes track by $index">
       {{barcode.barcode}} {{barcode.typeBarCode}}
       <button type="button">
          <span class='glyphicon glyphicon-trash'></span>
      </button>
     </li>
   </ul>
   <br/><br/><br/>
   <button type="button" class="btn btn-primary">Submit Data</button>
   <button type="button" class="btn btn-danger">Cancel</button>
</div>
