<h1>Orchard Run Load</h1>
<div class="form-group">
  <div id="alert_placeholder"></div>
  <label for="truck_driver">Truck Driver:</label>
  <select class="form-control" ng-model="truck_driver" ng-options="ee.name for ee in truckDrivers">
  </select>
  <br/>

  <label for="storage">Storage:</label>
  <select class="form-control" ng-model="default_storage" ng-options="storage.id for storage in storageList">
  </select>
  <br/>

  <label for="truck_id">Truck ID:</label>
  <select class="form-control" ng-model="default_truck" ng-options="truck.id for truck in truckList">
  </select>
  <br/>

  <label for="NumberBoxes">Number Boxes:</label>
  <input type="number" step="1" name="est_mpg" id="nr_boxes" ng-model="nr_boxes" class="form-control" ng-init="nr_boxes=20" />
  <br/>

  <label for="inputlg">Comments:</label>
  <input class="form-control input-lg" id="scan" type="text" ng-model="comments">
  <br/>
  <label for="inputlg">Date:</label>
  <ng-datepicker ng-model="date" format="YYYY-MM-DD" view-format="YYYY-MM-DD">
  </ng-datepicker>
  <span ng-bind="ctrl.date1" style="display: block; margin-top: 5px;"></span>
  <br/>

  <label for="inputlg">Scan Barcode</label>
  <input class="form-control input-lg" id="scan" type="text" ng-model="scan" focus-on="newItemAdded" my-enter="add_barcode()">
  <button type="button" class="btn btn-link" ng-click="add_barcode()">Add Barcode</button>
</div>
<div class="well">
   <h3>Scanned Bar Codes</h3>
   <ul class="list-group">
     <li class="list-group-item" ng-repeat="barcode in displayBarCodes track by $index">
       {{barcode.barcode}}
       {{barcode.variety}}
       {{barcode.strainName}}
       {{barcode.blockName}}
       {{barcode.storage.id}}
       {{barcode.truck_driver.name}}
        <button type="button" ng-click="removeBarCode(barcode)">
            <span class='glyphicon glyphicon-trash'></span>
        </button>
    </li>
   </ul>
   <br/><br/><br/>
   <button type="button" class="btn btn-primary" ng-click="submit()">Submit Data</button>
   <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
