<h1>Review Load</h1>

<div id="printingContent">
</br>
  <label for="inputlg">Truck ID:</label>{{truck_id}} </br>
  <label for="inputlg">Truck Driver:</label> {{truck_driver}}</br>
  <label for="inputlg">Date:</label>{{date}}</br></br>
  <table st-table="rowCollection" class="table table-striped">
  	<thead>
  	<tr>
  		<th>Bin ID</th>
  		<th>Block</th>
      <th>Variety</th>
      <th>Strain</th>
      <th>Storage</th>
      <th>Boxes</th>
      <th>Comments</th>
      <th>Pickers</th>
  	</tr>
  	</thead>
  	<tbody>
  	<tr ng-repeat="row in rowCollection">
  		<td>{{row.bin_id}}</td>
      <td>{{row.block_names}}</td>
  		<td>{{row.variety}}</td>
      <td>{{row.strainName}}</td>
  		<td>{{row.storage}}</td>
      <td>{{row.nr_boxes}}</td>
      <td>{{row.comments}}</td>
      <td>{{row.pickers}}</td>
  	</tr>
  	</tbody>
  </table>
<div>
<br>
<br>
<a href="javascript:CallPrint('printingContent')">print</a>
