<div class="container-fluid">
  <h1>Review Load</h1>

  <div id="printingContent">
  </br>
  <label for="Truck ID">Truck ID:</label> {{load.loadData.truckName}} </br>
  <label for="Truck Driver">Truck Driver:</label> {{load.loadData.truckDriverName}}</br>
  <label for="Date">Date:</label> {{load.loadData.loadDate}}</br>
  <label for="Time">Time:</label> {{load.loadData.loadDateTime | date : "shortTime"}}</br></br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bin ID</th>
        <th>Block</th>
        <th>Variety</th>
        <th>Strain</th>
        <th>Storage</th>
        <th>Boxes</th>
        <th>Comments</th>
        <th>Pickers</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in load.binData track by $index">
        <td>{{row.barcode}}</td>
        <td>{{row.blockName}}</td>
        <td>{{row.varietyName}}</td>
        <td>{{row.strainName}}</td>
        <td>{{row.storageName}}</td>
        <td>{{row.boxesCount}}</td>
        <td>{{row.binComments}}</td>
        <td>{{row.pickerIds.join(', ')}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<a href="javascript:CallPrint('printingContent')">print</a>
</div>
