<div class="container-fluid" id="printArea" style="padding-top: -60px;">
    <table align="center">
    <tr>
      <td style="font-size: 12pt;"><strong>Orchard Run Sale</strong></td>
    </tr>
  </table>
  <table class="table-condensed borderless" align="center">
    <tr>
      <td><strong>Load ID: </strong>{{load.loadData.load.id}}</td>
      <td><strong>CB Employee: </strong>{{load.loadData.truckDriver.name}}</td>
    </tr>
    <tr>
      <td><strong>Load Date: </strong>{{load.loadData.loadDateTime | date:'medium'}}</td>
      <td><strong>Comments: </strong>{{load.loadData.loadComments}}</td>
    </tr>
  </table>
  <table class="table-condensed" align="center">
    <thead>
      <tr>
        <th>Bin ID</th>
        <th>Block</th>
        <th>Variety</th>
        <th>Strain</th>
        <th>Bushels</th>
      </tr>
    </thead>
    <tbody >
      <tr ng-repeat-start="(keys,bins) in load.binData | groupBy: '[blockName,varietyName,strainName]' track by $index">
      </tr>
      <tr ng-repeat="bin in bins track by $index">
        <td>{{bin.barcode}}</td>
        <td>{{bin.blockName}}</td>
        <td>{{bin.varietyName}}</td>
        <td>{{bin.strainName}}</td>
        <td>{{bin.bushels}}</td>
      </tr>
      <tr ng-repeat-end>
        <td class="tdTopBorder" colspan="3"><strong>Bins: {{bins.length}}</strong></td>
        <td class="tdTopBorder" colspan="10"><strong>Bushels: {{getBushelSum(bins)}}</strong></td>
      </tr>
      <tr>
        <td class="tdTopBorder" colspan="1"></td>
        <td class="tdTopBorder" colspan="3"><strong>Load Bins: {{load.binData.length}}</strong></td>
        <td class="tdTopBorder" colspan="9"><strong>Load Bushels: {{getBushelSum(load.binData)}}</strong></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<p>Submitted: {{timeSubmitted | date:'short'}}</p>
<br>
<a href="javascript:window.print()">print</a>
<!-- <a href="javascript:callPrint('printArea')">print</a> -->
