<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p><strong><h2>Outside Time Form</h2></strong></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <label for="Truck Driver">Manager:</label>
      <select class="form-control" ng-model="manager" ng-options="managers.name for managers in managerList" ng-change="retrieveRecords()">
      </select>
    </br>
    <label for="inputlg">Job ID:</label>
    <select class="form-control" type="text" ng-model="jobId" ng-options="jobs for jobs in ['p100','p125','p200','h001']" ng-init="jobId='p100'">
    </select>
  </div>
  <div class="col-sm-6">
    <label for="inputlg">Shift Status:</label>
    <select class="form-control" type="text" ng-model="shiftStatus" ng-options="status.name for status in shiftStatusOptions">
    </select>
    <br/>
    <label for="Time">Time:</label>
    <div class="row load-time">
      <div class="col-sm-6">
        <select class="form-control" ng-model="timeHours" ng-options="hour.value as hour.name for hour in hourOptions">
        </select>
      </div>
      <div class="col-sm-6">
        <select class="form-control" ng-model="timeMinutes" ng-options="minute.value as minute.name for minute in minuteOptions">
        </select>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <label for="Scan Barcode"></label>
    <div class="form-group has-feedback" ng-class="{'has-success':focused, 'has-error':!focused}">
      <input class="form-control input-lg" placeholder="{{focused? 'Ready to scan':'Touch here to begin scanning'}}" ng-model="scan" my-focus="refocus" my-enter="addToWorkingChanges()" type="text" ng-blur="focused=false" ng-focus="focused=true">
      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':focused, 'glyphicon-warning-sign':!focused}"></span>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

<div class="row">
  <div class="alert alert-{{errorColor}} alert-dismissable" ng-if="error">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{errorMessage}}</strong>
  </div>
  <div class="well">
    <p><strong><h3>Working Changes</h3></strong></p>
    <div ng-repeat="person in workingData track by $index">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading row" ng-class="{'panel-heading-blue':(workingData.length-$index)%2==1, 'panel-heading-teal':(workingData.length-$index)%2==0}">
            <div class="col-sm-1" style="text-align:left;">
              <h4><strong>{{workingData.length-$index}}</strong></h4>
            </div>
            <div class="col-sm-9"><h4><strong>{{person.employeeName}}</strong></h4></div>
            <div class="col-sm-1" style="color:black;">
            <button type="button" ng-click="removeFromWorkingChanges(person)">
              <span class='glyphicon glyphicon-trash'></span>
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" ng-click="submitRecords()" >Submit Data</button>
</div>

<div class="well">
  <div class="row">
    <p><strong><h3>Saved Clock-In Records</h3></strong></p>
    <div ng-repeat="record in retrievedData track by $index">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading row" ng-class="{'panel-heading-blue':(retrievedData.length-$index)%2==1, 'panel-heading-teal':(retrievedData.length-$index)%2==0}">
            <div class="col-sm-1" style="text-align:left;">
              <h4><strong>{{record.employeeId}}</strong></h4>
            </div>
            <div class="col-sm-9"><h4><strong>{{record.employeeName}}</strong></h4></div>
            <div class="col-sm-1" style="color:black;">
              <input type="checkbox" ng-model="record.selected" ng-if="!shiftStatus.boolean"></input>
            </div>
          </div>
          <div class="panel-body" style="color:black;">
            <h4><span class="label label-danger">{{record.timeIn | date: 'shortTime'}}</span></h4>
            <h4><span class="label label-success">{{record.jobId}}</span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
