<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn btn-danger btn-lg" ng-click="startOver()">Cancel</button>
    </div>
    <div class="col-sm-6">
      <p><strong><h2>Time Form</h2></strong></p>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <label>Employee ID:</label>
<div class="form-group has-feedback" ng-class="{'has-success':focused, 'has-error':!focused}">
      <input class="form-control input-lg" type="text" autofocus placeholder="{{focused? 'Ready to scan':'Touch here to begin scanning'}}" ng-model="scan" my-focus="refocus" my-enter="selectShiftOptions()" type="text" ng-blur="focused=false" ng-focus="focused=true">
</div>
  </br>
    <div ng-if="showEmployeeName">
      <label>Employee Name:</label>
      <input class="form-control input-lg" ng-model="employeeName">
    </br>
  </br>
  <label>Shift Status:</label>
</br>
</br>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-success btn-lg" ng-click="clockIn()">Clock In &nbsp;<span class="glyphicon glyphicon-play"></span></button>
  </div>
  <div class="col-sm-6" ng-if="!shiftStatus">
    <button type="button" class="btn btn-danger btn-lg" ng-click="clockOut()">Clock Out &nbsp;<span class="glyphicon glyphicon-stop"></span></button>
  </div>
</div>
</br>
</br>
<div ng-if="showClockInOptions">
  <label>Job ID:</label>
</br>
</br>
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary btn-lg" ng-click="startPacking()">Start Packing &nbsp;<span class="glyphicon glyphicon-apple"></span></button>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-warning btn-lg" ng-click="startCleaning()">Start Cleaning &nbsp;<span class="glyphicon glyphicon-cog"></span></button>
  </div>
</div>
</div>
</div>
</div>
<div class="col-sm-3"></div>
</div>
</div>
